{% extends "base.html" %}

{% block title %}Recurments{% endblock title %}


{% block body %}
  {% load static %}
	<!-- Recurments  section start-->
  <div class="services_section">
    <div class="container">
        <h1 class="services_text">Recurments</h1>
    </div>
</div>
<div class="Recurments_section">
  <div class="container">
    <div class="btn_main">
            <input type="text" class="btn_main_2" placeholder="Search" name="Search">
            <input type="text" class="btn_main_3" placeholder="Email/ notifications" name="Email/ notifications">
        </div>
  </div>
</div>
<div class="Recurments_section_2">
  <div class="container">
    <div class="product_section">
      <div class="row padding_top_0">
        <div class="col-sm-2">
          <div class="one_text"><a href="#" class="active">01</a></div>
        </div>
        <div class="col-sm-8">
          <h1 class="software_text">Marketing jobs</h1>
          <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="col-sm-2">
          <button class="apply_now">Apply Now</button>
        </div>
      </div>
  </div>
</div>
<div class="Recurments_section_2">
  <div class="container">
    <div class="product_section">
      <div class="row padding_top_0">
        <div class="col-sm-2">
          <div class="one_text"><a href="#">02</a></div>
        </div>
        <div class="col-sm-8">
          <h1 class="software_text">Industrial jobs</h1>
          <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="col-sm-2">
          <button class="apply_now">Apply Now</button>
        </div>
      </div>
  </div>
</div>
<div class="Recurments_section_2">
  <div class="container">
    <div class="product_section">
      <div class="row padding_top_0">
        <div class="col-sm-2">
          <div class="one_text"><a href="#">03</a></div>
        </div>
        <div class="col-sm-8">
          <h1 class="software_text">Corporate jobs</h1>
          <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="col-sm-2">
          <button class="apply_now">Apply Now</button>
        </div>
      </div>
  </div>
</div>
<div class="Recurments_section_2">
  <div class="container">
    <div class="product_section">
      <div class="row padding_top_0">
        <div class="col-sm-2">
          <div class="one_text"><a href="#">04</a></div>
        </div>
        <div class="col-sm-8">
          <h1 class="software_text">Government jobs</h1>
          <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="col-sm-2">
          <button class="apply_now">Apply Now</button>
        </div>
      </div>
  </div>
</div>
<!-- Recurments  section end-->

{% endblock body%}