{% extends "base.html" %}

{% block title %}
Search your job here
{% endblock title %}



{% block body %}
  {% load static %}


	<!-- header section start-->
  <!-- search jobs section start-->
  <div class="search_section layout_padding">
    <div class="container">
      <div class="logo_1"><img src="{% static "images/logo-2.png" %}"></div>
        <div class="row box">
            <div class="col-md-6">
                <h1 class="what_text">What</h1>
                <p class="city_text">job title, keywords, or company</p>
                <div class="main"> 
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="what_text">Where</h1>
                <p class="city_text">city, state, or pin code</p>
                <div>
                    <div class="main"> 
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ahmedabad, Gujarat">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fa fa-map-marker"></i>
                                </button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="">
          <button class="find_bt">Find Jobs</button>
        </div>
    </div>
</div>
<!-- search jobs section end-->



{% endblock body %}