{% extends "base.html" %}
{% block title %}
Our Services
{% endblock title %}



{% block body %}
  {% load static %}
  <!-- header section end-->
  <div class="services_section">
    <div class="container">
      <h1 class="services_text">SERVICES</h1>
    </div>
  </div>
  <div class="services_section_2 layout_padding">
    <div class="container">
      <h1 class="companies_text">Find Any Kind Job</h1>
      <div class="services_item ">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="services_1"><img src="{% static "images/img-1.png" %}"></div>
            <h1 class="jobs_main">Industrial jobs</h1>
            <p class="many_main">There are many variations of passages of Lorem Ipsum available,</p>
            <div class="join_bt">
              <div class="join_text"><a href="#">JOIN US</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="services_1"><img src="{% static "images/img-2.png" %}"></div>
            <h1 class="jobs_main">Corporate jobs</h1>
            <p class="many_main">There are many variations of passages of Lorem Ipsum available,</p>
            <div class="join_bt">
              <div class="join_text"><a href="#">JOIN US</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="services_1"><img src="{% static "images/img-3.png" %}"></div>
            <h1 class="jobs_main">Marketing jobs</h1>
            <p class="many_main">There are many variations of passages of Lorem Ipsum available,</p>
            <div class="join_bt">
              <div class="join_text"><a href="#">JOIN US</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="services_1"><img src="{% static "images/img-4.png" %}"></div>
            <h1 class="jobs_main">Government jobs</h1>
            <p class="many_main">There are many variations of passages of Lorem Ipsum available,</p>
            <div class="join_bt">
              <div class="join_text"><a href="#">JOIN US</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  

{% endblock body %}